<h1>Login</h1>
<p><%= error_message %></p>
<form action="<%= request.base_url %>" method="post">
  Email: <input type="text" name="Email_login" placeholder="Email" autofocus><br/>
  Password: <input type="password" name="Password_login" placeholder="Password"><br/>
  <input type="submit" value="Login">

</form>