<h1>Register</h1>
<%= error_message %>
<form action="<%= request.base_url %>" method="post">
  Email: <input type="text" name="Email_register" placeholder="Email"><br/>
  Password: <input type="password" name="Password_register" placeholder="Password"><br/>
  <input type="submit" value="Register">

</form>