body {
    background-color: white;
}

div.wrapper{
    margin-top: 25px;
    padding: 50px;
}
div.index-wrapper #nav a{
    padding-right: 30px;
}

div.index-wrapper h1{
    font-size: 5em;
}

div.form-wrapper{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

div.form-wrapper h1{
    text-align: center;
    font-size: 5em;
}

div.form-wrapper #error{
    color: #b2091c;
}

div.form-wrapper table{
    border-collapse: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
}

div.form-wrapper td{
    width: 150px;
    padding-top: 25px;
}

div.users-wrapper{
}

div.users-wrapper table#users{
    border: 2px solid black;
}
div.users-wrapper table#users th{
    border: 2px solid black;
    text-align: left;
    background-color: darkgrey;
}
div.users-wrapper table#users td{
    border-style: none solid;
    padding-right: 15px;
}

div.users-wrapper table#users tr:nth-child(even){
    background-color: lightgrey;
}
div.users-wrapper table#users td#id{
    text-align: center;
    padding-left: 5px;
}

div.users-wrapper th, tr{
    border-left: 2px solid black;
}
div.users-wrapper th, td#email{
    padding-left: 3px;
}
div.users-wrapper div#header{
    width: 100%;
    padding-bottom: 50px;
}
div.users-wrapper #left{
    float: left;
}
div.users-wrapper #right{
    float: right;
}

